html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.card:hover {
  transform: scale(1.1);
}

#logo:hover {
  transform: scale(1.1);
}

body {
  background-color: #e0ecf7 !important;
}

.navbar-brand {
  color: blue !important;
  border: 1px solid blue;
}

.nav-link {
  font-weight: 700 !important;
  color: rgb(40, 40, 143) !important;
  margin-left: 10px;
}

.tbc {
  width: 50px;
  height: auto;
  margin-left: 10px;
}

img {
  width: 100%;
  height: 800px;
}

#main {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-between;
  background-image: url(../images/MAthBanner_v022x.original.png);
  background-position-y: center;
  background-position-x: right;
}
#main p {
  color: white;
  font-size: 100px;
  font-weight: 900;
  padding-top: 160px;
  padding-left: 50px;
}
#main img {
  width: 800px;
  height: 750px;
  margin-top: 14px;
}

#course {
  display: flex;
  justify-content: center;
  font-weight: 800;
  padding-top: 50px;
  padding-left: 50px;
}

.container {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 33px;
}
.container .card {
  width: 292px;
  height: 360px;
  border: solid rgb(26, 26, 26);
}
.container .card .square {
  width: 286px;
  height: 195px;
  border-radius: solid 5px blue;
  background-color: rgb(199, 241, 252);
}
.container .card .square img {
  width: 287px;
  height: 195px;
}
.container .card p {
  color: rgb(24, 24, 24);
  font-weight: 300;
  padding-left: 10px;
  padding-top: 20px;
}
.container .card h2 {
  color: rgb(24, 24, 24);
  font-weight: 300;
  font-size: 12px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.container .card button {
  width: 100px;
  margin-left: 150px;
  border-radius: 5px;
}

#about {
  display: flex;
  justify-content: center;
  font-weight: 800;
  padding-top: 50px;
  padding-left: 50px;
}

#text-about {
  font-weight: 600;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 40px;
}

#quation {
  display: flex;
  justify-content: center;
  font-weight: 800;
  padding-top: 50px;
  padding-left: 50px;
}

.quations1 {
  display: flex;
  flex-direction: row;
  margin-top: 88px;
}
.quations1 #f1 {
  border: solid 1px black;
  margin-left: 60px;
}
.quations1 p {
  font-weight: 700;
  margin-left: 15px;
}
.quations1 #s1 {
  size: 50px;
  vertical-align: middle;
  margin-left: 778px;
}

.quations2 {
  display: flex;
  flex-direction: row;
  margin-top: 49px;
}
.quations2 #f1 {
  border: solid 1px black;
  margin-left: 60px;
}
.quations2 p {
  font-weight: 700;
  margin-left: 15px;
}
.quations2 #s1 {
  size: 50px;
  vertical-align: middle;
  margin-left: 879px;
}

.quations3 {
  display: flex;
  flex-direction: row;
  margin-top: 49px;
}
.quations3 #f1 {
  border: solid 1px black;
  margin-left: 60px;
}
.quations3 p {
  font-weight: 700;
  margin-left: 15px;
}
.quations3 #s1 {
  size: 50px;
  vertical-align: middle;
  margin-left: 853px;
}

.quations4 {
  display: flex;
  flex-direction: row;
  margin-top: 49px;
}
.quations4 #f1 {
  border: solid 1px black;
  margin-left: 60px;
}
.quations4 p {
  font-weight: 700;
  margin-left: 15px;
}
.quations4 #s1 {
  size: 50px;
  vertical-align: middle;
  margin-left: 854px;
}

footer {
  width: 100%;
  height: 530px;
  background-color: black;
  margin-top: 50px;
}

.first {
  padding-top: 34px;
  margin-left: 101px;
  margin-right: 110px;
  display: flex;
  justify-content: space-between;
}
.first .le img {
  width: 25px;
  height: 25px;
}
.first .middle {
  color: white;
  font-size: large;
  font-weight: 100;
}
.first .ri p {
  color: white;
  font-size: large;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #303030;
  margin-top: 21px;
}

.mid {
  display: flex;
  justify-content: space-around;
}
.mid .m1 {
  flex-direction: column;
}
.mid .m1 h1 {
  size: 28px;
  color: white;
  font-weight: 500;
  margin-top: 38px;
}
.mid .m1 p {
  size: 20px;
  color: white;
  font-weight: 500;
  margin-top: 30px;
}
.mid .m1 input {
  border-radius: 46px;
  margin-top: 21px;
  width: 257px;
  height: 47px;
}
.mid .m1 button {
  border-radius: 46px;
  background-color: rgb(194, 194, 194);
  width: 148px;
  height: 47px;
}
.mid .m1 h2 {
  width: 394px;
  height: 19px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  margin-top: 21px;
}
.mid .m2 {
  flex-direction: column;
}
.mid .m2 h1 {
  size: 28px;
  color: white;
  font-weight: 500;
  margin-top: 38px;
}
.mid .m2 p {
  size: 20px;
  color: white;
  font-weight: 500;
  margin-top: 30px;
}
.mid .m3 {
  flex-direction: column;
}
.mid .m3 h1 {
  size: 28px;
  color: white;
  font-weight: 500;
  margin-top: 38px;
}
.mid .m3 p {
  size: 20px;
  color: white;
  font-weight: 500;
  margin-top: 30px;
}

.mid3 {
  display: flex;
  justify-content: space-around;
  margin-top: 27px;
}
.mid3 .l1 {
  display: flex;
  flex-wrap: wrap;
}
.mid3 .l1 p {
  color: white;
  margin-left: 24px;
}
.mid3 .r2 {
  display: flex;
  flex-wrap: wrap;
}
.mid3 .r2 p {
  color: white;
  margin-left: 24px;
}

.last {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.last p {
  color: white;
  font-weight: 400;
  font-size: 20px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  #logo {
    display: none;
  }
  #main p {
    font-size: 70px;
    padding-top: 70px;
  }
  .quations1 {
    width: 1100px;
  }
  .quations2 {
    width: 1200px;
  }
  .quations3 {
    width: 1150px;
  }
  .quations4 {
    width: 1150px;
  }
  footer {
    height: 720px;
  }
  .first {
    flex-direction: column;
    width: 500px;
    margin-left: 20px;
  }
  .first .middle {
    margin-top: 20px;
  }
  #s1 {
    display: none;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #logo {
    display: none;
  }
  #s1 {
    display: none;
  }
  footer {
    height: 570px;
  }
}
@media screen and (min-device-width: 1025px) and (max-device-width: 1456px) {
  #logo {
    display: none;
  }
  #s1 {
    display: none;
  }
}
@media screen and (min-device-width: 0px) and (max-device-width: 320px) {
  body {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */