.secon {
    h1 {
        font-size: 15px;
    }
}
.thir {
    h1 {
        font-size: 15px;
    }
}
footer {
    height: 1250px;
}
.first {
    flex-direction: column;
    width: 500px;
    .middle {
        margin-top: 20px;
    }
}
.mid {
    flex-direction: column;
    margin-left: 20px;
    .m1 {
        h2 {
            width: 300px;
        }
    }
}