.secon {
    height: 600px;
}
.thir {
    height: 500px;
}
footer {
    height: 1150px;
}
.first {
    flex-direction: column;
    width: 500px;
    margin-left: 300px;
    .middle {
        margin-top: 20px;
    }
}
.mid {
    flex-direction: column;
    margin-left: 20px;
    .m1 {
        h2 {
            width: 300px;
        }
    }
}