body {
    background-color: #e0ecf7 !important;
}
.navbar-brand {
    color: blue !important;
    border: 1px solid blue;
}
.nav-link {
    font-weight: 700 !important;
    color: rgb(40, 40, 143) !important;
    margin-left: 10px;
}
.tbc {
    width: 50px;
    height: auto;
    margin-left: 10px;
}
img {
    width: 100%;
    height: 800px;
}
#main {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    background-image: url(../images/MAthBanner_v022x.original.png);
    background-position-y: center;
    background-position-x: right;
    p {
        color: $maincolor;
        font-size: 100px;
        font-weight: 900;
        padding-top: 160px;
        padding-left: 50px;
    }
    img {
        width: 800px;
        height: 750px;
        margin-top: 14px;
    }
}
#course {
    display: flex;
    justify-content: center;
    font-weight: 800;
    padding-top: 50px;
    padding-left: 50px;
}
.container {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 33px;
    .card {
        width: 292px;
        height: 360px;
        border: solid rgb(26, 26, 26);
        .square {
            width: 286px;
            height: 195px;
            border-radius: solid 5px blue;
            background-color: rgb(199, 241, 252);
            img {
                width: 287px;
                height: 195px;
            }
        }
        p {
            color: $divp;
            font-weight: 300; 
            padding-left: 10px;  
            padding-top: 20px;
        }
        h2 {
            color: $divp;
            font-weight: 300;
            font-size: 12px;
            padding-left: 10px;  
            padding-bottom: 10px;
        }
        button {
            width: 100px;
            margin-left: 150px;
            border-radius: 5px;
        }
    }
    
}
#about {
    display: flex;
    justify-content: center;
    font-weight: 800;
    padding-top: 50px;
    padding-left: 50px;
}
#text-about {
    font-weight: 600;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
}
#quation {
    display: flex;
    justify-content: center;
    font-weight: 800;
    padding-top: 50px;
    padding-left: 50px;
}
.quations1 {
    display: flex;
    flex-direction: row;
    margin-top: 88px;
    #f1 {
        border: solid 1px black;
        margin-left: 60px;
    }
    p{
        font-weight: 700;
        margin-left: 15px;
    }
    #s1 {
        size: 50px;
        vertical-align: middle;
        margin-left: 778px;
    }
}
.quations2 {
    display: flex;
    flex-direction: row;
    margin-top: 49px;
    #f1 {
        border: solid 1px black;
        margin-left: 60px;
    }
    p{
        font-weight: 700;
        margin-left: 15px;
    }
    #s1 {
        size: 50px;
        vertical-align: middle;
        margin-left: 879px;
    }
}
.quations3 {
    display: flex;
    flex-direction: row;
    margin-top: 49px;
    #f1 {
        border: solid 1px black;
        margin-left: 60px;
    }
    p{
        font-weight: 700;
        margin-left: 15px;
    }
    #s1 {
        size: 50px;
        vertical-align: middle;
        margin-left: 853px;
    }
}
.quations4 {
    display: flex;
    flex-direction: row;
    margin-top: 49px;
    #f1 {
        border: solid 1px black;
        margin-left: 60px;
    }
    p{
        font-weight: 700;
        margin-left: 15px;
    }
    #s1 {
        size: 50px;
        vertical-align: middle;
        margin-left: 854px;
    }
}
footer {
    width: 100%;
    height: 530px;
    background-color: black;
    margin-top: 50px;
}
.first{
    padding-top: 34px;
    margin-left: 101px;
    margin-right: 110px;
    display: flex;
    justify-content: space-between;
    .le {
        img {
            width: 25px;
            height: 25px;
        }
    }
    .middle {
        color: white;
        font-size: large;
        font-weight: 100;
    }
    .ri {
        p {
            color: white;
            font-size: large;
        }
    }
}
.line {
    width: 100%;
    height: 1px;
    background-color: #303030;
    margin-top: 21px;
}
.mid {
    display: flex;
    justify-content: space-around;
    .m1 {
        flex-direction: column;
        h1 {
            size: 28px;
            color: $maincolor;
            font-weight: 500;
            margin-top: 38px;
        }
        p {
            size: 20px;
            color: $maincolor;
            font-weight: 500;
            margin-top: 30px;
        }
        input {
            border-radius: 46px;
            margin-top: 21px;
            width: 257px;
            height: 47px;
        }
        button {
            border-radius: 46px;
            background-color: rgb(194, 194, 194);
            width: 148px;
            height: 47px;
        }
        h2 {
            width: 394px;
            height: 19px;
            color: white;
            font-weight: 500;
            font-size: 16px;
            margin-top: 21px;
        }
    }
    .m2 {
        flex-direction: column;
        h1 {
            size: 28px;
            color: $maincolor;
            font-weight: 500;
            margin-top: 38px;
        }
        p {
            size: 20px;
            color: $maincolor;
            font-weight: 500;
            margin-top: 30px;
        }
    }
    .m3 {
        flex-direction: column;
        h1 {
            size: 28px;
            color: $maincolor;
            font-weight: 500;
            margin-top: 38px;
        }
        p {
            size: 20px;
            color: $maincolor;
            font-weight: 500;
            margin-top: 30px;
        }
    }
}
.mid3 {
    display: flex;
    justify-content: space-around;
    margin-top: 27px;
    .l1 {
        display: flex;
        flex-wrap: wrap;
        p {
            color: $maincolor;
            margin-left: 24px;
        }
    }
    .r2 {
        display: flex;
        flex-wrap: wrap;
        p {
            color: $maincolor;
            margin-left: 24px;
        }
    }
}
.last {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    p {
        color: $maincolor;
        font-weight: 400;
        font-size: 20px;
    }
}
