.card:hover {
    transform: scale(1.1);
}
.middle:hover {
    transform: scale(1.1);
}
.place1:hover {
    transform: scale(1.1);
}
.place2:hover {
    transform: scale(1.1);
}
.place3:hover {
    transform: scale(1.1);
}