.div1:hover {
    border: 2px solid blue;
}
.div2:hover {
    border: 2px solid blue;
}
.div3:hover {
    border: 2px solid blue;
}
.div4:hover {
    border: 2px solid blue;
}
.div5:hover {
    border: 2px solid blue;
}
.lef {
    button:hover {
        background-color: blue;
        color: white;
    }
}
.righ {
    button:hover {
        background-color: blue;
        color: white;
    }
}